span.白沐林_点赞,
span.白沐林_01,
span.bml_01,
span.bml_dz {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    font-size: 0;
    overflow: hidden;
    height: 75px;
    width: 73px;
    vertical-align: bottom;
}

span.白沐林_乖巧,
span.白沐林_02,
span.bml_02,
span.bml_gq {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_02.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 63px;
    vertical-align: bottom;
}

span.白沐林_偷笑,
span.白沐林_03,
span.bml_03,
span.bml_tx {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_03.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 70px;
    vertical-align: bottom;
}

span.白沐林_看看文,
span.白沐林_04,
span.bml_04,
span.bml_kkw {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_04.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 65px;
    vertical-align: bottom;
}

span.白沐林_无语,
span.白沐林_05,
span.bml_05,
span.bml_wy {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_05.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 75px;
    vertical-align: bottom;
}

span.白沐林_犯困,
span.白沐林_06,
span.bml_06,
span.bml_fk {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_06.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 72px;
    vertical-align: bottom;
}

span.白沐林_吓,
span.白沐林_07,
span.bml_07,
span.bml_x {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_07.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 71px;
    vertical-align: bottom;
}

span.白沐林_哭哭,
span.白沐林_08,
span.bml_08,
span.bml_kk {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_08.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 75px;
    vertical-align: bottom;
}

span.白沐林_比心,
span.白沐林_09,
span.bml_09,
span.bml_bx {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_09.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 70px;
    vertical-align: bottom;
}

span.白沐林_生气,
span.白沐林_10,
span.bml_10,
span.bml_sq {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_10.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 74px;
    vertical-align: bottom;
}

span.白沐林_震惊,
span.白沐林_11,
span.bml_11,
span.bml_zj {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_11.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 75px;
    vertical-align: bottom;
}

span.白沐林_疑惑,
span.白沐林_12,
span.bml_12,
span.bml_yh {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_12.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 75px;
    vertical-align: bottom;
}

span.白沐林_去世,
span.白沐林_13,
span.bml_13,
span.bml_qs {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_13.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    font-size: 0;
    overflow: hidden;
    height: 75px;
    width: 75px;
    vertical-align: bottom;
}

span.白沐林_委屈,
span.白沐林_14,
span.bml_14,
span.bml_wq {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_14.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 75px;
    vertical-align: bottom;
}

span.白沐林_摸鱼,
span.白沐林_15,
span.bml_15,
span.bml_my {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_15.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 75px;
    vertical-align: bottom;
}

span.白沐林_开摆,
span.白沐林_16,
span.bml_16,
span.bml_kb {
    display: inline-block;
    background-image: url('http://backrooms-oversight-cn.wikidot.com/local--files/bml-emojis-1/bml_16.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: transparent;
    overflow: hidden;
    height: 75px;
    width: 75px;
    vertical-align: bottom;
}
