/*
   Liminal Theme
   [2020 Wikidot Theme]
   by Lynch & Etoile
   Edited by Lambda Core & irisluscinia & hoah2333
*/

/*
@import url('https://fontlibrary.org/face/fantasque-sans-mono');
@import url('https://fonts.googleapis.com/css?family=Basic|IBM+Plex+Mono:400,700');
*/
@import url("./normalize-archived.css");
@import url("./bhl-archived.css");
@import url("./sidebar-archived.css");
@import url("./banlist.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;700;900&display=swap');
@import url('https://fastly.jsdelivr.net/gh/scp-cn-tech/sigma9@cn/modules/colstyle.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
:root {
    --theme-base: "black-highlighter";
    --theme-id: "liminal";
    --theme-name: "Liminal Theme";
    --logo-image: url("./logo.svg");
    --header-title: "The Backrooms";
    --header-subtitle: "你曾经来过这里";
    --body-font: Inter, Noto Sans SC, Arimo, Verdana, Geneva, sans-serif;
    --header-font: Inter, Noto Sans SC, Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
    --title-font: var(--header-font);
    --mono-font: Recursive, Noto Serif SC, Consolas, monaco, monospace;
    --white-monochrome: 237, 233, 223;
    --pale-gray-monochrome: 255, 251, 240;
    --light-gray-monochrome: 160, 160, 160;
    --gray-monochrome: 72, 69, 60;
    --black-monochrome: 25, 20, 16;
    --bright-accent: 140, 136, 126;
    --medium-accent: 72, 69, 60;
    --dark-accent: 140, 136, 126;
    --pale-accent: 140, 136, 126;
    --swatch-topmenu-border-color: var(--medium-accent);
    --link-color: 230, 23, 68;
    --hover-link-color: 187, 0, 34;
    --visited-link-color: 150, 24, 43;
    --background-gradient-distance: 0rem;
    --gradient-header: linear-gradient(to top, rgba(var(--medium-accent)) 0%, rgba(var(--medium-accent), 0.90) 100%);
    --diagonal-stripes: linear-gradient(transparent 0);
}


/*
#login-status {
   position: absolute !important;
}
#account-options {
   display: none !important;
}
*/

#skrollr-body {
    background-image: radial-gradient(circle, rgb(var(--medium-accent)) 50%, transparent 0);
    background-repeat: repeat;
    background-size: 0.25em 0.25em;
    width: 100%;
    height: 7.5rem;
}

#side-bar .side-block div a img {
    filter: grayscale(100%);
}

#container {
    background-image: radial-gradient(circle, transparent 50%, transparent 0);
    background-size: 0.25em 0.25em;
    background-repeat: repeat;
    background-attachment: fixed;
}

div#page-options-bottom-2>a,
div#page-options-bottom>a {
    border-radius: 0em;
    -moz-border-radius: 0em;
    border: none;
}

div#page-options-bottom-2>a:active,
div#page-options-bottom-2>a:hover,
div#page-options-bottom>a:active,
div#page-options-bottom>a:hover {
    border: none;
}

#header,
#top-bar {
    background-attachment: scroll;
}

#header {
    background-image: none;
}

#header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: var(--logo-image);
    background-size: auto 16rem;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
}

#header h1,
#header h1 a {
    position: absolute;
    top: 1rem;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
}

#header h2,
#header h2 span,
#header h2 span::before {
    position: absolute;
    top: 2rem;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#header h1 a::before,
#header h2 span::before {
    text-shadow: .063rem 0.1rem 0.1rem #0c0c0c;
}

a.newpage {
    background: transparent;
    text-decoration: none
}

a.newpage {
    color: rgb(var(--newpage-color))
}

blockquote {
    box-shadow: 0.05rem 0.1rem 0.3rem rgba(0, 0, 0, .25);
}

.styled-quote {
    background-color: rgb(var(--pale-gray-monochrome));
    border-left: 0.5rem solid rgba(var(--gray-monochrome));
    padding: 0.1rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: 0.05rem 0.1rem 0.3rem rgba(0, 0, 0, .25);
}

.dark-styled-quote {
    background-color: rgb(var(--gray-monochrome));
    border-left: 0.5rem solid rgba(var(--pale-gray-monochrome));
    color: rgb(var(--white-monochrome));
    padding: 0.1rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: 0.05rem 0.1rem 0.3rem rgba(0, 0, 0, .25);
}

.dark-styled-quote a {
    color: rgb(var(--swatch-menubg-medium-color));
}

.lightblock {
    background-color: rgb(var(--white-monochrome));
    padding: 0.01rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, .25);
}

.darkblock {
    background-color: rgb(var(--gray-monochrome));
    color: rgb(var(--white-monochrome));
    padding: 0.01rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, .25);
}

.darkblock a {
    color: rgb(var(--swatch-menubg-medium-color));
}

#side-bar div.side-block,
#side-bar div.side-block .heading {
   margin-top: 0;
}

#side-bar div.menu-item.small a {
    justify-content: center;
    width: auto;
    padding: 0 0.25em;
    text-indent: 0;
    white-space: nowrap;
}

#side-bar div.menu-item a {
    justify-content: flex-start;
    padding: 0 0 0 calc(var(--base-font-size)*.93333);
}

#side-bar div.menu-item,
#side-bar div.menu-item>p {
    display: flex;
    flex-shrink: 0;
    flex-basis: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    height: 1.5rem;
    min-height: 1.5rem;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 calc(var(--sidebar-internal-border-thickness)*-1) 0 0 rgba(var(--sidebar-border-color));
    font-size: 0;
}

#side-bar div.menu-item>:last-child {
    flex-grow: 2;
}

#side-bar div.menu-item a:not(a:first-child) {
    border-left: var(--sidebar-internal-border-thickness) solid rgba(var(--swatch-border-color), .08)
}

#side-bar div.scpnet-interwiki-wrapper {
    min-height: 300px;
}
div.scpnet-interwiki-wrapper {
    margin: 0;
    width: auto;
}
iframe.scpnet-interwiki-frame {
    border: inherit;
    width: 100%;
    height: 230px;
}
@media (min-width:768px) {
    div.scpnet-interwiki-wrapper,
    iframe.scpnet-interwiki-frame {
        width: 100%;
    }
}

/* Content Warning */
#page-content div#u-adult-warning {
    width: fit-content;
    margin: 0 auto 1.25rem;
    padding: 0.5rem 1rem;
    border: 3px solid #333;
    background: #e4e4e4;
    color: #333;
    text-align: center;
    font-weight: bold;
}
#page-content div#u-adult-warning > div#u-adult-header {
    font-size: 300%;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    color: #901;
}
#page-content div#u-adult-warning > div#u-adult-header p {
    margin: 0;
}
#page-content div#u-adult-warning > .error-block {
    color: unset;
    padding: unset;
    margin: unset;
    border: unset;
    margin-bottom: 1em;
}

/* 去除用户信息中头像白边 */
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child {
    background-color: initial!important;
}

/* 去除搜索框 */
#search-top-box-input {
    display: none;
}

/* 论坛样式修改 */
.thread-container .post .long .content .image:not(.collapsible-block .image) {
    object-fit: cover;
    max-height: 2em;
    width: 100%;
    transition: max-height 0.5s;
}

.thread-container .post .long .content .image:hover:not(.collapsible-block .image) {
    max-height: 100em;
}

:root {
    --thread-accent-color: 227, 223, 213;
}

.thread-container>.options {
    display: none;
}

.thread-container .post-container {
    background-color: rgb(var(--thread-accent-color));
}

#thread-container-posts>.post-container {
    border: 1px solid rgb(var(--dark-accent));
}

#recent-posts-container>.thread-container .post {
    border: 1px solid rgb(var(--dark-accent));
    background-color: rgb(var(--thread-accent-color));
    margin-bottom: 1rem;
}

#thread-container-posts>.post-container>.post-container>.post-container>.post-container>.post-container>.post-container {
    border-right: 1px solid rgb(var(--dark-accent));
}

.thread-container .post {
    padding: 0;
    width: 100%;
    border-radius: 3px;
    padding: 0 0 12px 0;
}

.thread-container #thread-container-posts>.post-container {
    margin: 0 0 12px 0;
    padding: 12px;
}

.thread-container .post-container .post~.post-container {
    border-top: 1px solid rgb(var(--dark-accent));
}

.thread-container .post .long {
    position: relative;
    border: none;
}

.thread-container .post .head {
    padding: 0 0 18px 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.thread-container .post .head .options {
    display: none;
}

.thread-container .post .head .title {
    position: relative;
    overflow: hidden;
}

.thread-container .post .head .title::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgb(var(--light-gray-monochrome));
}

.thread-container .post .head .info {
    display: grid;
    align-items: center;
    padding: 4px 0 0 0;
    grid-template-areas:
        "username username date date date"
        "forum forum forum thread thread";
    grid-template-columns: max-content max-content max-content 1fr;
    grid-template-rows: 1fr max-content;
    font-size: 0;
}

.thread-container .post .head .info > * {
    font-size: initial;
}

.thread-container .post .head .info .printuser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: username;
}

.thread-container .post .head .info .printuser::after {
    content: "·";
    padding: 0 6px;
}

.thread-container .post .head .info .odate {
    grid-area: date;
    display: flex !important;
    pointer-events: none;
}

.thread-container .post .head .info br {
    grid-area: br;
    width: 100%;
}

.thread-container .post .head .info > a {
    font-size: 14px;
    max-width: fit-content;
}

.thread-container .post .head .info > a:nth-of-type(1) {
    grid-area: forum;
}
.thread-container .post .head .info > a:nth-of-type(2) {
    grid-area: thread;
}

.thread-container .post .head .info > a:nth-of-type(2)::before {
    content: "»";
    margin: 0 0.5em;
}

@media (max-width: 768px) {
    .thread-container .post .head .info {
        grid-template-areas:
            "username username date date date"
            "forum forum forum forum forum"
            "thread thread thread thread thread";
        grid-template-columns: max-content max-content max-content 1fr;
        grid-template-rows: 1fr max-content max-content;
    }
    .thread-container .post .head .info > a:nth-of-type(2)::before {
        margin: 0 0.5em 0 0;
    }
}

.thread-container .post .head .info .printuser a:first-of-type,
.thread-container .post .head .info .printuser.deleted img {
    margin-right: 0;
}

.thread-container .post .head .info .printuser a:first-of-type img,
.thread-container .post .head .info .printuser.deleted img {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-image: none!important;
    padding: 0;
    border: 2px solid rgb(var(--gray-monochrome));
    border-radius: 50%;
    margin-right: 12px;
}

.thread-container .post .long .content {
    padding: 0;
}

.thread-container .post .long .content>p:first-of-type:not(*+p) {
    margin-top: 0;
}

.thread-container .post-container .post-container {
    position: relative;
    left: 4px;
    margin: 0;
    padding: 12px 0 0 12px;
}

.thread-container .post-container .post-container .post::before {
    content: "";
    height: calc(100% - 36px);
    width: 3px;
    position: absolute;
    background-color: rgb(var(--dark-accent));
    left: 0;
}

.thread-container .post .long .changes>a[onclick*=showHistory] {
    display: inline-flex;
}

.thread-container .post .long .changes>a[onclick*=showHistory] .icon-plus::before {
    content: "+";
    font-style: initial;
}

.thread-container .post .long .revisions {
    padding-top: 0;
}

.thread-container .post .long .revisions table {
    border-spacing: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.thread-container .post .long .revisions a {
    color: #77a;
}

.thread-container .post .long .revisions table tbody {
    display: contents;
}

.thread-container .post .long .revisions table tr {
    display: flex;
    justify-content: flex-end;
}

.thread-container .post .long .revisions table tr td:first-of-type,.thread-container .post .long .revisions table tr td:nth-of-type(2) {
    padding-right: 7px;
}

.thread-container .post .long .revisions table tr.active td {
    background-color: rgba(var(--light-gray-monochrome), 0.3);
}

.thread-container .post .long .revisions table tr.active::before {
    content: ">";
    margin-right: 5px;
}

#page-content>div.forum-thread-box>div.options a,.thread-container div.post div.long .options a {
    border: initial;
    background-color: initial;
    color: #77a;
    font-size: 90%;
    --wght: 500;
    padding: 0 0.25em;
    margin: 0 0.1rem;
    transition: text-decoration-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
        color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

#page-content>div.forum-thread-box>div.options a:hover,.thread-container div.post div.long .options a:hover {
    text-decoration: underline;
    color: #77a;
}

#page-content>div.forum-thread-box>div.options {
    margin: .2em 0;
}

.forum-thread-box .description-block {
    background-color: rgb(var(--thread-accent-color));
    box-shadow: none;
    border-radius: 0;
    border: 1px solid rgb(var(--dark-accent));
    margin: 1em 0;
}
