/*
   Liminal Theme
   [2020 Wikidot Theme]
   by Lynch & Etoile
   Edited by Lambda Core & irisluscinia & hoah2333
*/

@import url("./normalize.css");
@import url("./black-highlighter.css");
@import url("../../New_BHL/css/banlist.css");
@import url("../../New_BHL/css/forum.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fastly.jsdelivr.net/gh/scp-cn-tech/sigma9@cn/modules/colstyle.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
 
:root {
    --theme-base: "black-highlighter";
    --theme-id: "liminal";
    --theme-name: "Liminal Theme";
    --logo-image: url("../../New_BHL/image/logo.svg");
    --header-title: "The Backrooms";
    --header-subtitle: "你曾经来过这里";
    --body-font: Inter, "Noto Sans SC", "Noto Sans TC", Arimo, Verdana, Geneva, sans-serif;
    --header-font: Inter, "Noto Sans SC", "Noto Sans TC", Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
    --title-font: var(--header-font);
    --mono-font: Recursive, "Noto Serif SC", "Noto Serif TC", Consolas, monaco, monospace;
    --white-monochrome: 237, 233, 223;
    --pale-gray-monochrome: 255, 251, 240;
    --light-gray-monochrome: 160, 160, 160;
    --gray-monochrome: 72, 69, 60;
    --black-monochrome: 25, 20, 16;
    --bright-accent: 140, 136, 126;
    --medium-accent: 72, 69, 60;
    --dark-accent: 140, 136, 126;
    --pale-accent: 140, 136, 126;
    --swatch-topmenu-border-color: var(--medium-accent);
    --link-color: 230, 23, 68;
    --hover-link-color: 187, 0, 34;
    --visited-link-color: 150, 24, 43;
    --background-gradient-distance: 0rem;
    --gradient-header: linear-gradient(to top,
            rgba(var(--medium-accent)) 0%,
            rgba(var(--medium-accent), 0.90) 100%);
    --diagonal-stripes: linear-gradient(transparent 0);
}

#skrollr-body {
    background-image: radial-gradient(circle,
            rgb(var(--medium-accent)) 50%,
            transparent 0);
    background-repeat: repeat;
    background-size: 0.25em 0.25em;
    width: 100%;
    height: 7.5rem;
}

#container {
    background-image: radial-gradient(circle,
            transparent 50%,
            transparent 0);
    background-size: 0.25em 0.25em;
    background-repeat: repeat;
    background-attachment: fixed;
}

div#page-options-bottom>a,
div#page-options-bottom-2>a {
    border-radius: 0em;

    &,
    &:active,
    &:hover {
        border: none;
    }
}

#header,
#top-bar {
    background-attachment: scroll;
}

#header {
    background-image: none;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-image: var(--logo-image);
        background-size: auto 16rem;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.4;
    }

    & h1 {

        &,
        & a {
            position: absolute;
            top: 1rem;
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            z-index: 0;
        }
    }

    & h2 {

        &,
        & span,
        & span::before {
            position: absolute;
            top: 2rem;
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

#side-bar {
    direction: rtl;
    padding-left: 0;
    top: 0;

    & div.side-block {
        direction: ltr;
        border-right: var(--sidebar-internal-border-thickness) solid rgba(var(--swatch-border-color), 0.08);

        &,
        & .heading {
            margin-top: 0;
        }

        & div.menu-item {

            &,
            &>p {
                display: flex;
                flex-shrink: 0;
                flex-basis: 100%;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-start;
                height: 1.5rem;
                min-height: 1.5rem;
                margin: 0;
                padding: 0;
                box-shadow: inset 0 calc(var(--sidebar-internal-border-thickness) * -1) 0 0 rgba(var(--sidebar-border-color));
                font-size: 0;
            }

            & a {
                justify-content: flex-start;
                padding: 0 0 0 calc(var(--base-font-size) * (14 / 15));

                &::before {
                    left: 0;
                    transform: translateX(calc(-100%));
                    width: calc(100% + 6rem);
                }

                &:not(a:first-child) {
                    border-left: var(--sidebar-internal-border-thickness) solid rgba(var(--swatch-border-color), 0.08);
                }

                & img {
                    filter: grayscale(100%);
                }
            }

            &.small a {
                justify-content: center;
                width: auto;
                padding: 0 0.25em;
                text-indent: 0;
                white-space: nowrap;
            }

            &>:last-child {
                flex-grow: 2;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        left: calc(var(--sidebar-width-on-mobile) * -1);

        &:target,
        #skrollr-body:target & {
            left: -0.5rem;
        }

        & .heading p,
        & .side-block>.collapsible-block .collapsible-block-link {
            letter-spacing: 0.016em;
        }

        &:target .close-menu,
        #skrollr-body:target & .close-menu {
            margin-left: calc(var(--sidebar-width-on-mobile) - 0.5rem);
            width: calc(100% - var(--sidebar-width-on-mobile) + 0.5rem);
        }
    }
}

div.scpnet-interwiki-wrapper {
    margin: 0;
    width: auto;

    #side-bar & {
        min-height: 220px;
        transform: translate(0, 0);

        @media only screen and (max-width: 768px) {
            width: calc(var(--sidebar-width-on-mobile) - 0.5rem);
            max-width: calc(80vw + var(--base-font-size) * 0.5);
        }
    }

    @media only screen and (min-width: 768px) {
        width: 100%;
    }
}

iframe.scpnet-interwiki-frame {
    border: inherit;
    width: 100%;
    height: 220px;
}

a.newpage {
    background: transparent;
    text-decoration: none;
    color: rgb(var(--newpage-color));
}

blockquote {
    box-shadow: 0.05rem 0.1rem 0.3rem rgba(var(--black-monochrome), 0.25);
}

.styled-quote {
    background-color: rgb(var(--pale-gray-monochrome));
    border-left: 0.5rem solid rgba(var(--gray-monochrome));
    padding: 0.1rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: 0.05rem 0.1rem 0.3rem rgba(var(--black-monochrome), 0.25);
}

.dark-styled-quote {
    background-color: rgb(var(--gray-monochrome));
    border-left: 0.5rem solid rgba(var(--pale-gray-monochrome));
    color: rgb(var(--white-monochrome));
    padding: 0.1rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: 0.05rem 0.1rem 0.3rem rgba(var(--black-monochrome), 0.25);

    & a {
        color: rgb(var(--swatch-menubg-medium-color));
    }
}

.lightblock {
    background-color: rgb(var(--pale-gray-monochrome));
    padding: 0.01rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: 0 0.2rem 0.3rem rgba(var(--black-monochrome), 0.25);
}

.darkblock {
    background-color: rgb(var(--gray-monochrome));
    color: rgb(var(--white-monochrome));
    padding: 0.01rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.25);

    & a {
        color: rgb(var(--swatch-menubg-medium-color));
    }
}

/* Content Warning */
#page-content div#u-adult-warning {
    width: fit-content;
    margin: 0 auto 1.25rem;
    padding: 0.5rem 1rem;
    border: 3px solid #333;
    background: #e4e4e4;
    color: #333;
    text-align: center;
    font-weight: bold;

    &>div#u-adult-header {
        font-size: 300%;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        color: #901;
    }

    & p {
        margin: 0;
    }

    &>.error-block {
        color: unset;
        padding: unset;
        margin: unset;
        border: unset;
        margin-bottom: 1em;
    }
}

/* 去除用户信息中头像白边 */
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child {
    background-color: initial !important;
}

/* 搜索框修改 */
#search-top-box-input {
    display: none;
}

@media only screen and (max-width: 768px) {
    #search-top-box:not(:focus-within)::before {
        top: calc(var(--header-height-on-mobile) / 2 + 0.5em);
    }
}

/* Footer */
#footer {

    &,
    & a {
        color: rgb(var(--white-monochrome));
    }
}

/* Image Block */
.scp-image-block {
    min-width: 30%;
}

/* License Box */
#page-content .licensebox .collapsible-block-link {
    margin-left: 0.25em;
    padding: 0.25em;
    font-weight: 700;
    opacity: 0.5;
    color: rgb(var(--gray-monochrome));
    transition: opacity 0.5s ease-in-out;

    &:hover {
        opacity: 1;
    }
}