@media only screen and (min-width: 769px) {
    #content-wrap {
        display: flex;
        flex-direction: row;
        width: calc(100vw - (100vw - 100%));
        min-height: calc(100vh - calc(var(--final-header-height-on-desktop, 10.125rem)));
        flex-grow: 2;
        height: auto;
        position: initial;
        margin: 0 auto;
        max-width: inherit;
        margin-left: calc(var(--sidebar-width-on-desktop, 15.5em) * -1 / 2 - 2rem);
    }

    #main-content {
        width: 100%;
        position: initial;
        max-height: 100%;
        padding: 2rem 1rem;
        width: 45.8rem;
        max-width: 45.8rem;
        margin: 0 auto;

        &::before {
            --not-ie: absolute;
            content: " ";
            background-color: rgb(var(--black-monochrome, 0, 0, 0));
            position: fixed;
            position: var(--not-ie);
            top: var(--final-header-height-on-desktop, 0);
            left: 0;
            transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 + 1rem));
            width: var(--sidebar-width-on-desktop, 17em);
            height: calc(100% - var(--final-header-height-on-desktop, 0.688rem) - 2.313rem);
            transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            opacity: 0.5;
            pointer-events: none;
            z-index: 9;
            margin-bottom: calc(var(--final-header-height-on-desktop, -2.313rem) * -1 - 2.313rem);

            @supports (-ms-ime-align: auto) {
                left: 1rem;
                transform: translateX(-100%) !important;
            }
        }

        &::after {
            content: "";
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1rem;
            height: 100%;
            max-height: 100%;
            top: 0;
            transition: left 300ms cubic-bezier(0.4, 0.0, 0.2, 1), background-position 300ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            left: 1rem;
            background: url("https://scp-wiki.wdfiles.com/local--files/component%3Acollapsible-sidebar/sidebar-tab.svg");
            background-repeat: no-repeat;
            background-position: center left 1rem;
            background-attachment: fixed;
            background-size: 1rem 12.875rem;
            pointer-events: none;
        }
    }

    #side-bar {
        transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 - 1em));
        transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0.0, 0.2, 1), padding 300ms linear, margin 300ms linear;
        width: var(--sidebar-width-on-desktop, 13.6rem) !important;
        min-width: var(--sidebar-width-on-desktop, 13.6rem) !important;
        grid-area: side-bar;
        grid-row: 1;
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 2rem;
        background-color: rgba(var(--swatch-menubg-color, 255, 255, 255), 0);
        top: 0rem;
        max-height: 100vh;
        position: sticky;
        left: 0.5rem;
        scrollbar-width: thin;
        overscroll-behavior: contain;
        scrollbar-color: rgba(170, 170, 170, 0) rgba(170, 170, 170, 0);

        &::-webkit-scrollbar {
            width: 0;
            transition: width 300ms 50ms cubic-bezier(0.4, 0.0, 0.2, 1);

            &-track,
            &-thumb {
                width: 0;
                background-color: rgba(170, 170, 170, 0);
            }
        }

        &:hover::-webkit-scrollbar {
            &-track {
                width: 0.5rem;
                background-color: rgba(252, 252, 252, 1);
            }

            &-thumb {
                width: 0.375rem;
                background-color: rgba(170, 170, 170, 1);
            }
        }

        &:hover,
        &:active,
        &:focus-within {
            background-color: rgba(var(--swatch-menubg-color, 255, 255, 255), 1);
            padding-right: 0;
            margin-right: 2rem;
            transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 0.5rem));
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-color: rgba(170, 170, 170, 1) rgba(252, 252, 252, 1);

            &::-webkit-scrollbar {
                width: 0.5rem;
                transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            }

            &+#main-content {
                &::before {
                    transform: translateX(0);
                    opacity: 0;
                }

                &::after {
                    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
                    background-position: center left calc(var(--sidebar-width-on-desktop, 17em) * -1);
                    transition: left 300ms cubic-bezier(0.4, 0.0, 0.2, 1), background-position 300ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
                    opacity: 0;
                    width: 0rem;
                    font-size: 0em;
                }
            }

            @supports (-ms-ime-align: auto) {
                overflow-y: auto;
                transform: translateX(0) !important;
                margin-left: -0.5rem;
            }
        }

        .side-block {
            margin-top: 1rem;
            background-color: rgb(0, 0, 0, 0);
            border-radius: 0;
            border-left-width: 0px;
            border-right-width: 0px;
        }

        @supports (-ms-ime-align: auto) {
            overflow-y: hidden;
            overflow-x: hidden;
            transform: translateX(-90%) !important;
        }
    }
}