/* Sidebar fix */
#side-bar div.scpnet-interwiki-wrapper {
    min-height: 300px;
    grid-column: span 2;
}

div.scpnet-interwiki-wrapper {
    margin: 0;
    width: auto;
}

iframe.scpnet-interwiki-frame {
    border: inherit;
    width: 100%;
    height: 230px;
}

@media (min-width: 768px) {

    div.scpnet-interwiki-wrapper,
    iframe.scpnet-interwiki-frame {
        width: 100%;
    }
}

/* Content Warning */
#page-content div#u-adult-warning {
    width: fit-content;
    margin: 0 auto 1.25rem;
    padding: 0.5rem 1rem;
    border: 3px solid #333;
    background: #e4e4e4;
    color: #333;
    text-align: center;
    font-weight: bold;

    &>div#u-adult-header {
        font-size: 300%;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
        color: #901;

        & p {
            margin: 0;
        }
    }

    &>.error-block {
        color: unset;
        padding: unset;
        margin: unset;
        border: unset;
        margin-bottom: 1em;
    }
}

/* Button */
:not(.page-rate-widget-box):not(#search-top-box-form) {

    &>:is(button, .btn, .button, input.button, .owindow .button-bar a, div.buttons input) {
        --wght: 300;
        flex-basis: 5rem;

        &:is(:hover, :active, :focus, :focus-within) {
            box-shadow: none;
        }
    }
}

div[id*=page-options-bottom]:not(.page-rate-widget-box):not(#search-top-box-form)>a.btn {
    background-color: rgb(var(--swatch-primary-darkest));
    color: rgb(var(--swatch-text-secondary-color));
    flex-basis: 5rem;

    &:is(:hover, :active, :focus, :focus-within) {
        box-shadow: none;
        background-color: rgb(var(--swatch-menubg-dark-color));
    }
}

#action-area:has(form[onsubmit*=setParent], #who-rated-page-area, form[onsubmit*=PageTagsModule], table.page-files, #edit-meta-addbutton, ul[style="list-style: none"], #page-block-checkbox, #rename-option-rename, #rename-option-delete) p:not(:has(a[id*=backlinks], a[onclick*=showWho], a.btn)) {
    background-color: transparent;
    box-shadow: none;
    margin: 0.5rem auto;
    padding: 0;
}

#who-rated-page-area>div>span[style*=color] {
    margin-top: -0.0625rem;
}

form[onsubmit*=PageTagsModule] table>tbody>tr>td:nth-child(2)>input {
    padding: 0.25ch 0.5ex
}

#main-content #action-area>div.page-source {
    background-color: rgb(227, 223, 213);
    border: .0625rem solid rgba(var(--swatch-border-color), .25);
}

table.page-compare {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 1rem;
    grid-template: 1fr 1fr / 0.5fr 1fr 1fr;

    & :is(tbody, tr, tr:nth-of-type(2) :is(td:nth-of-type(2), td:nth-of-type(3))) {
        display: contents;
    }

    & :is(th, td, span) {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0.5em 0;
    }

    & th {
        background-color: rgb(var(--swatch-primary));
        color: rgb(var(--swatch-text-secondary-color));
    }

    & tr:nth-of-type(even) {

        & :is(td, span) {
            background-color: rgba(var(--swatch-tertiary-color), .2);
        }
    }

    & tr:nth-of-type(odd) {

        & :is(td, span) {
            background-color: rgba(var(--swatch-tertiary-color), .3);
        }
    }
}

:is(div.image-block, div.scp-image-block) {
    gap: 0;

    :is(.image-caption, .scp-image-caption) {
        background-color: rgb(var(--swatch-secondary-color));
        box-shadow: inset calc(0.125rem * -1) 0 0 0 rgb(var(--swatch-border-color), 0.16),
            inset 0 calc(0.125rem * -1) 0 0 rgb(var(--swatch-border-color), 0.16),
            inset 0.125rem 0 0 0 rgb(var(--swatch-border-color), 0.16);
    }
}

:is(.yui-navset, .yui-navset-top, .yui-navset-bottom) .yui-nav {
    & .selected {
        z-index: unset;
        box-shadow: none;
        translate: 0;

        @supports not (translate: 0 0) {
            transform: translate(0);
        }
    }

    & li a::before {
        --clip-path: polygon(0 calc(100% - 0.25rem), 100% calc(100% - 0.25rem), 100% 100%, 0 100%);
        width: 100%;
        height: 100%;
        left: 0;
    }
}