/* Sidebar fix */
#side-bar div.scpnet-interwiki-wrapper {
  min-height: 300px;
  grid-column: span 2;
}

div.scpnet-interwiki-wrapper {
  margin: 0;
  width: auto;
}

iframe.scpnet-interwiki-frame {
  border: inherit;
  width: 100%;
  height: 230px;
}

@media (min-width: 768px) {
  div.scpnet-interwiki-wrapper,
  iframe.scpnet-interwiki-frame {
    width: 100%;
  }
}
/* Content Warning */
#page-content div#u-adult-warning {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 1.25rem;
  padding: 0.5rem 1rem;
  border: 3px solid #333;
  background: #e4e4e4;
  color: #333;
  text-align: center;
  font-weight: bold;
}
#page-content div#u-adult-warning > div#u-adult-header {
  font-size: 300%;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: #901;
}
#page-content div#u-adult-warning > div#u-adult-header p {
  margin: 0;
}
#page-content div#u-adult-warning > .error-block {
  color: unset;
  padding: unset;
  margin: unset;
  border: unset;
  margin-bottom: 1em;
}

/* Button */
:not(.page-rate-widget-box):not(#search-top-box-form) > :is(button, .btn, .button, input.button, .owindow .button-bar a, div.buttons input) {
  --wght: 300;
  -webkit-flex-basis: 5rem;
          flex-basis: 5rem;
}
:not(.page-rate-widget-box):not(#search-top-box-form) > :is(button, .btn, .button, input.button, .owindow .button-bar a, div.buttons input):is(:hover, :active, :focus, :focus-within) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

div[id*=page-options-bottom]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn {
  background-color: rgb(var(--swatch-primary-darkest));
  color: rgb(var(--swatch-text-secondary-color));
  -webkit-flex-basis: 5rem;
          flex-basis: 5rem;
}
div[id*=page-options-bottom]:not(.page-rate-widget-box):not(#search-top-box-form) > a.btn:is(:hover, :active, :focus, :focus-within) {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgb(var(--swatch-menubg-dark-color));
}

#action-area:has(form[onsubmit*=setParent], #who-rated-page-area, form[onsubmit*=PageTagsModule], table.page-files, #edit-meta-addbutton, ul[style="list-style: none"], #page-block-checkbox, #rename-option-rename, #rename-option-delete) p:not(:has(a[id*=backlinks], a[onclick*=showWho], a.btn)) {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0.5rem auto;
  padding: 0;
}

#who-rated-page-area > div > span[style*=color] {
  margin-top: -0.0625rem;
}

form[onsubmit*=PageTagsModule] table > tbody > tr > td:nth-child(2) > input {
  padding: 0.25ch 0.5ex;
}

#main-content #action-area > div.page-source {
  background-color: rgb(227, 223, 213);
  border: 0.0625rem solid rgba(var(--swatch-border-color), 0.25);
}

table.page-compare {
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  justify-items: center;
  margin-top: 1rem;
  grid-template: 1fr 1fr/0.5fr 1fr 1fr;
}
table.page-compare :is(tbody, tr, tr:nth-of-type(2) :is(td:nth-of-type(2), td:nth-of-type(3))) {
  display: contents;
}
table.page-compare :is(th, td, span) {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 0.5em 0;
}
table.page-compare th {
  background-color: rgb(var(--swatch-primary));
  color: rgb(var(--swatch-text-secondary-color));
}
table.page-compare tr:nth-of-type(even) :is(td, span) {
  background-color: rgba(var(--swatch-tertiary-color), 0.2);
}
table.page-compare tr:nth-of-type(odd) :is(td, span) {
  background-color: rgba(var(--swatch-tertiary-color), 0.3);
}

:is(div.image-block, div.scp-image-block) {
  gap: 0;
}
:is(div.image-block, div.scp-image-block) :is(.image-caption, .scp-image-caption) {
  background-color: rgb(var(--swatch-secondary-color));
  -webkit-box-shadow: inset -0.125rem 0 0 0 rgb(var(--swatch-border-color), 0.16), inset 0 -0.125rem 0 0 rgb(var(--swatch-border-color), 0.16), inset 0.125rem 0 0 0 rgb(var(--swatch-border-color), 0.16);
          box-shadow: inset -0.125rem 0 0 0 rgb(var(--swatch-border-color), 0.16), inset 0 -0.125rem 0 0 rgb(var(--swatch-border-color), 0.16), inset 0.125rem 0 0 0 rgb(var(--swatch-border-color), 0.16);
}

:is(.yui-navset, .yui-navset-top, .yui-navset-bottom) .yui-nav .selected {
  z-index: unset;
  -webkit-box-shadow: none;
          box-shadow: none;
  translate: 0;
}
@supports not (translate: 0 0) {
  :is(.yui-navset, .yui-navset-top, .yui-navset-bottom) .yui-nav .selected {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
:is(.yui-navset, .yui-navset-top, .yui-navset-bottom) .yui-nav li a::before {
  --clip-path: polygon(0 -webkit-calc(100% - 0.25rem), 100% -webkit-calc(100% - 0.25rem), 100% 100%, 0 100%);
  --clip-path: polygon(0 calc(100% - 0.25rem), 100% calc(100% - 0.25rem), 100% 100%, 0 100%);
  width: 100%;
  height: 100%;
  left: 0;
}/*# sourceMappingURL=content-cn.css.map */