@media only screen and (min-width: 769px) {
  #content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    width: -webkit-calc(100vw - (100vw - 100%));
    width: calc(100vw - (100vw - 100%));
    min-height: -webkit-calc(100vh - -webkit-calc(var(--final-header-height-on-desktop, 10.125rem)));
    min-height: -webkit-calc(100vh - var(--final-header-height-on-desktop, 10.125rem));
    min-height: calc(100vh - var(--final-header-height-on-desktop, 10.125rem));
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    height: auto;
    position: initial;
    margin: 0 auto;
    max-width: inherit;
    margin-left: -11em;
    margin-left: -webkit-calc(var(--sidebar-width-on-desktop, 15.5em) * -1 / 2 - 2rem);
    margin-left: calc(var(--sidebar-width-on-desktop, 15.5em) * -1 / 2 - 2rem);
  }
  #main-content {
    width: 100%;
    position: initial;
    max-height: 100%;
    padding: 2rem 1rem;
    width: 45.8rem;
    max-width: 45.8rem;
    margin: 0 auto;
  }
  #sidebar::-webkit-scrollbar {
    width: 0;
    -webkit-transition: width 300ms 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 300ms 50ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #sidebar:hover::-webkit-scrollbar,
  #sidebar:active::-webkit-scrollbar,
  #sidebar:focus-within::-webkit-scrollbar {
    width: 0.5rem;
    -webkit-transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #side-bar {
    -webkit-transform: translateX(-14.6rem);
    transform: translateX(-14.6rem);
    -webkit-transform: translateX(-webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1 - 1rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 - 1rem));
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), padding 300ms linear, margin 300ms linear, -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), padding 300ms linear, margin 300ms linear, -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), padding 300ms linear, margin 300ms linear;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), padding 300ms linear, margin 300ms linear, -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: var(--sidebar-width-on-desktop, 13.6rem) !important;
    min-width: var(--sidebar-width-on-desktop, 13.6rem) !important;
    grid-area: side-bar;
    grid-row: 1;
    grid-column: 1;
    padding-right: 2rem;
    background-color: transparent;
    background-color: rgba(var(--swatch-menubg-color, 255, 255, 255), 0);
    top: 1rem;
    max-height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    left: 0.5rem;
    padding-left: 1rem;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    scrollbar-color: rgba(170, 170, 170, 0) rgba(170, 170, 170, 0);
  }
  #side-bar::-webkit-scrollbar-track {
    width: 0;
    background-color: rgba(170, 170, 170, 0);
  }
  #side-bar::-webkit-scrollbar-thumb {
    width: 0;
    background-color: rgba(170, 170, 170, 0);
  }
  #side-bar:hover,
  #side-bar:active {
    background-color: white;
    background-color: rgba(var(--swatch-menubg-color, 255, 255, 255), 1);
    padding-right: 0;
    margin-right: 2rem;
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
    -webkit-transform: translateX(-webkit-calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(170, 170, 170) rgb(252, 252, 252);
  }
  #side-bar:focus-within {
    background-color: white;
    background-color: rgba(var(--swatch-menubg-color, 255, 255, 255), 1);
    padding-right: 0;
    margin-right: 2rem;
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
    -webkit-transform: translateX(-webkit-calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 1rem) - var(--sidebar-width-on-desktop, 0.5rem) - 2rem));
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(170, 170, 170) rgb(252, 252, 252);
  }
  #side-bar:hover::-webkit-scrollbar-track {
    width: 0.5rem;
    background-color: rgb(252, 252, 252);
  }
  #side-bar:hover::-webkit-scrollbar-thumb {
    width: 0.375rem;
    background-color: rgb(170, 170, 170);
  }
  #main-content::after {
    content: " ";
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 1rem;
    height: 100%;
    max-height: 100%;
    top: 0;
    -webkit-transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1), background-position 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1), background-position 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 1rem;
    background: url("https://scp-wiki.wdfiles.com/local--files/component%3Acollapsible-sidebar/sidebar-tab.svg");
    background-repeat: no-repeat;
    background-position: center left 1rem;
    background-attachment: fixed;
    background-size: 1rem 12.875rem;
    pointer-events: none;
  }
  #side-bar:hover + #main-content::after,
  #side-bar:active + #main-content::after {
    left: -17em;
    left: -webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1);
    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left -17em;
    background-position: center left -webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left calc(var(--sidebar-width-on-desktop, 17em) * -1);
    -webkit-transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1), background-position 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1), background-position 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    width: 0rem;
    font-size: 0em;
  }
  #side-bar:focus-within + #main-content::after {
    left: -17em;
    left: -webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1);
    left: calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left -17em;
    background-position: center left -webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1);
    background-position: center left calc(var(--sidebar-width-on-desktop, 17em) * -1);
    -webkit-transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1), background-position 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1), background-position 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    width: 0rem;
    font-size: 0em;
  }
  #main-content::before {
    --not-ie: absolute;
    content: " ";
    background-color: black;
    background-color: rgb(var(--black-monochrome, 0, 0, 0));
    position: fixed;
    position: var(--not-ie);
    top: 0;
    top: var(--final-header-height-on-desktop, 0);
    left: 0;
    -webkit-transform: translateX(-12.6rem);
    transform: translateX(-12.6rem);
    -webkit-transform: translateX(-webkit-calc(var(--sidebar-width-on-desktop, 17em) * -1 + 1rem));
    transform: translateX(calc(var(--sidebar-width-on-desktop, 17em) * -1 + 1rem));
    width: 17em;
    width: var(--sidebar-width-on-desktop, 17em);
    height: -webkit-calc(100% - 3rem);
    height: calc(100% - 3rem);
    height: -webkit-calc(100% - var(--final-header-height-on-desktop, 0.688rem) - 2.313rem);
    height: calc(100% - var(--final-header-height-on-desktop, 0.688rem) - 2.313rem);
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.5;
    pointer-events: none;
    z-index: 9;
    margin-bottom: 0;
    margin-bottom: -webkit-calc(var(--final-header-height-on-desktop, -2.313rem) * -1 - 2.313rem);
    margin-bottom: calc(var(--final-header-height-on-desktop, -2.313rem) * -1 - 2.313rem);
  }
  #side-bar:hover + #main-content::before,
  #side-bar:active + #main-content::before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  #side-bar:focus-within + #main-content::before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  #side-bar .side-block {
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 0;
            border-radius: 0;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  @supports (-ms-ime-align: auto) {
    #side-bar {
      overflow-y: hidden;
      overflow-x: hidden;
      -webkit-transform: translateX(-90%) !important;
      transform: translateX(-90%) !important;
    }
    #side-bar:hover,
    #side-bar:active {
      overflow-y: auto;
      -webkit-transform: translateX(0) !important;
      transform: translateX(0) !important;
      margin-left: -0.5rem;
    }
    #side-bar:focus-within {
      overflow-y: auto;
      -webkit-transform: translateX(0) !important;
      transform: translateX(0) !important;
      margin-left: -0.5rem;
    }
    #main-content::before {
      left: 1rem;
      -webkit-transform: translateX(-100%) !important;
      transform: translateX(-100%) !important;
    }
  }
}
#side-bar {
  direction: rtl;
  left: 2rem;
  padding-left: 0;
  top: 0;
}
#side-bar div.side-block {
  direction: ltr;
  border-right: var(--sidebar-internal-border-thickness) solid rgba(var(--swatch-border-color), 0.08);
}
#side-bar div.side-block, #side-bar div.side-block .heading {
  margin-top: 0;
}
#side-bar div.side-block div.menu-item, #side-bar div.side-block div.menu-item > p {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  height: 1.5rem;
  min-height: 1.5rem;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: inset 0 -webkit-calc(var(--sidebar-internal-border-thickness) * -1) 0 0 rgba(var(--sidebar-border-color));
          box-shadow: inset 0 calc(var(--sidebar-internal-border-thickness) * -1) 0 0 rgba(var(--sidebar-border-color));
  font-size: 0;
}
#side-bar div.side-block div.menu-item a {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  padding: 0 0 0 -webkit-calc(var(--base-font-size) * 0.93333);
  padding: 0 0 0 calc(var(--base-font-size) * 0.93333);
}
#side-bar div.side-block div.menu-item a::before {
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: -webkit-calc(100% + 6rem);
  width: calc(100% + 6rem);
}
#side-bar div.side-block div.menu-item a:not(a:first-child) {
  border-left: var(--sidebar-internal-border-thickness) solid rgba(var(--swatch-border-color), 0.08);
}
#side-bar div.side-block div.menu-item a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
#side-bar div.side-block div.menu-item.small a {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  width: auto;
  padding: 0 0.25em;
  text-indent: 0;
  white-space: nowrap;
}
#side-bar div.side-block div.menu-item > :last-child {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
          flex-grow: 2;
}
@media only screen and (max-width: 768px) {
  #side-bar {
    left: -webkit-calc(var(--sidebar-width-on-mobile) * -1);
    left: calc(var(--sidebar-width-on-mobile) * -1);
  }
  #side-bar:target, #skrollr-body:target #side-bar {
    left: -0.5rem;
  }
  #side-bar .heading p, #side-bar .side-block > .collapsible-block .collapsible-block-link {
    letter-spacing: 0.016em;
  }
  #side-bar:target .close-menu, #skrollr-body:target #side-bar .close-menu {
    margin-left: -webkit-calc(var(--sidebar-width-on-mobile) - 0.5rem);
    margin-left: calc(var(--sidebar-width-on-mobile) - 0.5rem);
    width: -webkit-calc(100% - var(--sidebar-width-on-mobile) + 0.5rem);
    width: calc(100% - var(--sidebar-width-on-mobile) + 0.5rem);
  }
}

div.scpnet-interwiki-wrapper {
  margin: 0;
  width: auto;
}
#side-bar div.scpnet-interwiki-wrapper {
  min-height: 220px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media only screen and (max-width: 768px) {
  #side-bar div.scpnet-interwiki-wrapper {
    width: -webkit-calc(var(--sidebar-width-on-mobile) - 0.5rem);
    width: calc(var(--sidebar-width-on-mobile) - 0.5rem);
    max-width: -webkit-calc(80vw + var(--base-font-size) * 0.5);
    max-width: calc(80vw + var(--base-font-size) * 0.5);
  }
}
@media only screen and (min-width: 768px) {
  div.scpnet-interwiki-wrapper {
    width: 100%;
  }
}

iframe.scpnet-interwiki-frame {
  border: inherit;
  width: 100%;
  height: 220px;
}/*# sourceMappingURL=sidebar.css.map */