name: 编译&部署

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  deploy:
    concurrency: ci-${{ github.ref }}

    name: 部署

    runs-on: ubuntu-latest
    steps:
      - name: 检查
        uses: actions/checkout@v3
        with:
          ref: main

      - name: 移动文件
        run: |
          mkdir New_BHL/src Old_BHL/src stickers/src
          mkdir New_BHL/css Old_BHL/css stickers/css
          mv New_BHL/*.scss New_BHL/src/
          mv Old_BHL/*.scss Old_BHL/src/
          mv stickers/*.scss stickers/src/

      - name: 编译 .scss 文件
        uses: gha-utilities/sass-build@v0.5.1
        with:
          source: |
            countdown-generator/main.scss
            New_BHL/src/banlist.scss
            New_BHL/src/content-cn.scss
            New_BHL/src/forum.scss
            New_BHL/src/hallprint.scss
            New_BHL/src/liminal.scss
            New_BHL/src/material-icons.scss
            New_BHL/src/round-logo.scss
            New_BHL/src/sidebar.scss
            Old_BHL/src/black-highlighter.scss
            Old_BHL/src/liminal-impact.scss
            Old_BHL/src/liminal-sandbox.scss
            Old_BHL/src/liminal.scss
            Old_BHL/src/normalize.scss
            Old_BHL/src/sidebar.scss
            stickers/src/stickers.scss
            stickers/src/bml_1.scss

          destination: |
            countdown-generator/main.css
            New_BHL/css/banlist.css
            New_BHL/css/content-cn.css
            New_BHL/css/forum.css
            New_BHL/css/hallprint.css
            New_BHL/css/liminal.css
            New_BHL/css/material-icons.css
            New_BHL/css/round-logo.css
            New_BHL/css/sidebar.css
            Old_BHL/css/black-highlighter.css
            Old_BHL/css/liminal-impact.css
            Old_BHL/css/liminal-sandbox.css
            Old_BHL/css/liminal.css
            Old_BHL/css/normalize.css
            Old_BHL/css/sidebar.css
            stickers/css/stickers.css
            stickers/css/bml_1.css

          outputStyle: expanded
          indentWidth: 4

      - name: Autoprefixer
        run: |
          npm install postcss postcss-cli autoprefixer
          npx postcss countdown-generator/*.css -u autoprefixer -r
          npx postcss interwiki/**/*.css -u autoprefixer -r
          npx postcss New_BHL/**/*.css -u autoprefixer -r
          npx postcss Old_BHL/**/*.css -u autoprefixer -r
          npx postcss stickers/**/*.css -u autoprefixer -r
          rm -r node_modules/ .gitignore package-lock.json package.json

      - name: 部署至 GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          branch: "gh-pages"
          folder: "."